{% extends 'layout.html' %}

{% block title %}Movie queue{% endblock %}

{% block head %}
	{% parent %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">	
		<div class="row">
			<div class="col-xs-3">
				<img class="poster" src="{{ movie.poster }}"/>
			</div>
			<div class="col-xs-9">			
				<h1>{{movie.title}}(<a href="http://www.imdb.com/title/{{ movie.imdb }}/" target="_blank">link</a>)</h1>
				<p>Rating: {{movie.rating}}</p>
				<p>{{movie.plot}}</p>
				{% if user %}
				<p>
					<form class="btn-form" method="POST" action="/movies/{{ movie.imdb }}/add-to-queue">
						<button class="btn btn-success">Add to queue</button>
					</form>
					<form class="btn-form" method="POST" action="/movies/{{ movie.imdb }}/watched">
						<button class="btn btn-primary">Mark as watched</button>
					</form>
				</p>	
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="container">	
	<div class="row">
		<div class="col-xs-12 col-xs-6">
			<h4>People intersted in seeing this movie</h4>
			{% for ref in refs %}
				{% if !ref.watched %}
				<div><a href="/user/{{ ref.user.uuid }}">{{ ref.user.username }}</a></div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-xs-12 col-xs-6">	
			<h4>People that already watch this movie</h4>
			{% for ref in refs %}
				{% if ref.watched %}
				<div><a href="/user/{{ ref.user.uuid }}">{{ ref.user.username }}</a></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}