<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>{{movie.title}}(<a href="http://www.imdb.com/title/{{ movie.imdb }}/" target="_blank">link</a>)</h1>
	<p>Rating: {{movie.rating}}</p>
	<p>{{movie.plot}}</p>
	{% if user %}
	<p>
		<form method="POST" action="/movies/{{ movie.imdb }}/watched">
			<button>Mark as watched</button>
		</form>
	</p>
	<p>
		<form method="POST" action="/movies/{{ movie.imdb }}/add-to-queue">
			<button>Add to queue</button>
		</form>
	</p>	
	{% endif %}

	<p>People intersted in seeing this movie</p>
	{% for ref in refs %}
		{% if !ref.watched %}
		<div><a href="/user/{{ ref.user.uuid }}">{{ ref.user.username }}</a></div>
		{% endif %}
	{% endfor %}

	<p>People that already watch this movie</p>
	{% for ref in refs %}
		{% if ref.watched %}
		<div><a href="/user/{{ ref.user.uuid }}">{{ ref.user.username }}</a></div>
		{% endif %}
	{% endfor %}
</body>
</html>