body{
	background-color: lightgray;
}

#main{
	border:5px dotted darkblue;
}

.header{
	border: 1px solid black;
}

.body{
	border: 1px solid black;
}

.footer{
	border: 1px solid black;
}

.row{
	border:5px dotted darkblue;
	margin-bottom: 30px;
}

.row > * {
	border: 1px solid black;
	text-align: center;
	padding: 20px;
}

